.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--black);
  border: 2px solid var(--pure);
  color: var(--pure);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: var(--pure);
  color: var(--black);
}

.whatsapp-icon {
  font-size: 32px;
}

@media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
  
  .whatsapp-icon {
    font-size: 28px;
  }
}
